<div class="border-b border-r border-l" id="submission-<%= submission.id %>">
  <div class="px-2 pt-2 pb-2 flex items-center flex-wrap">

    <div class="submission-voting text-xs pr-2">
      <%= render "submissions/voting", submission: submission %>
    </div>

    <div>
      <%= link_to submission do %>
        <%= image_tag submission.submission_image.large.url, class: "lg:w-24 w-full max-w-full h-16 object-cover object-center" %>
      <% end if submission.submission_image.present? %>

      <%= link_to submission do %>
        <%= video_tag submission.submission_video.url, class:"lg:w-24 w-full max-w-full"  %>
      <% end if submission.submission_video.present? %>
    </div>

    <div class="pl-4">
      <h3 class="mb-1 flex flex-wrap items-center text-xl">
      <%= link_to submission.title, submission, class:"no-underline" %>
      <span class="pl-2 text-xs font-normal font-mono text-blue-400 tracking-tighter">
        <%= link_to truncate(submission.url, length: 18), submission.url, class:"no-underline"  if submission.url.present? %>
      </span>
      </h3>

      <div class="text-sm text-gray-700"><%= submission.body %></div>
      <% if author_of(submission)  %>
        <div class="pt-2 flex flex-wrap items-center">
          <%= link_to edit_submission_path(submission), class:"no-underline mr-2" do %>
            <%= render_svg 'icons/edit', title: "Edit", styles: "fill-current text-gray-600 icon-sm" %>
          <% end %>

          <%= link_to submission, method: :delete, class:"no-underline", data: { confirm: 'Are you sure?' }, role: "delete-submission" do %>
            <%= render_svg 'icons/delete', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
